.link{

    padding: 5px 10px;
    color: #99a1ad;
    text-decoration: none;
    font-weight: bold;

}

.active{
    
    background:  #77d983;
    border-radius: 5px;
    color: white;
}

.PageList{
    display: flex;
    justify-content: center;
}

